
InventoryTracker/.vs/InventoryTracker/v16/.suo
*.dll
*.pdb
*.dll
InventoryTracker/bin/Debug/net5.0/InventoryTracker.Views.dll
*.pdb
*.dll
*.cache
*.dll
*.pdb
*.dll
*.pdb
InventoryTracker/obj/Debug/net5.0/Razor/Views/Home/Index.cshtml.g.cs
*.dll
