
InventoryTracker/.vs/InventoryTracker/v16/.suo
*.dll
*.pdb
*.dll
InventoryTracker/bin/Debug/net5.0/InventoryTracker.Views.dll
*.pdb
*.dll
*.cache
*.dll
*.pdb
*.dll
*.pdb
InventoryTracker/obj/Debug/net5.0/Razor/Views/Home/Index.cshtml.g.cs
*.dll
InventoryTracker/.vs/InventoryTracker/DesignTimeBuild/.dtbcache.v2
InventoryTracker/.vs/InventoryTracker/v16/.suo
InventoryTracker/bin/Debug/net5.0/InventoryTracker.deps.json
InventoryTracker/bin/Debug/net5.0/InventoryTracker.dll
InventoryTracker/bin/Debug/net5.0/InventoryTracker.pdb
InventoryTracker/bin/Debug/net5.0/InventoryTracker.Views.dll
InventoryTracker/bin/Debug/net5.0/InventoryTracker.Views.pdb
InventoryTracker/bin/Debug/net5.0/ref/InventoryTracker.dll
InventoryTracker/bin/Debug/net5.0/runtimes/win-arm/lib/net5.0/dotnet-aspnet-codegenerator-design.exe
InventoryTracker/InventoryTracker.csproj
InventoryTracker/InventoryTracker.csproj.user
InventoryTracker/obj/Debug/net5.0/InventoryTracker.assets.cache
InventoryTracker/obj/Debug/net5.0/InventoryTracker.csproj.AssemblyReference.cache
InventoryTracker/obj/Debug/net5.0/InventoryTracker.csproj.CoreCompileInputs.cache
InventoryTracker/obj/Debug/net5.0/InventoryTracker.csproj.FileListAbsolute.txt
*.dll
*.pdb
*.dll
*.cache
InventoryTracker/obj/Debug/net5.0/InventoryTracker.Views.pdb
InventoryTracker/obj/Debug/net5.0/Razor/Views/Home/Index.cshtml.g.cs
InventoryTracker/obj/Debug/net5.0/Razor/Views/Inventory/Add.cshtml.g.cs
InventoryTracker/obj/Debug/net5.0/Razor/Views/Inventory/AddSuccess.cshtml.g.cs
InventoryTracker/obj/Debug/net5.0/Razor/Views/Inventory/Details.cshtml.g.cs
InventoryTracker/obj/Debug/net5.0/Razor/Views/Inventory/Index.cshtml.g.cs
InventoryTracker/obj/Debug/net5.0/Razor/Views/Inventory/Search.cshtml.g.cs
InventoryTracker/obj/Debug/net5.0/ref/InventoryTracker.dll
InventoryTracker/obj/Debug/net5.0/Razor/Views/Shared/_Layout.cshtml.g.cs
InventoryTracker/obj/InventoryTracker.csproj.nuget.dgspec.json
InventoryTracker/obj/InventoryTracker.csproj.nuget.g.props
InventoryTracker/obj/project.assets.json
InventoryTracker/obj/project.nuget.cache
InventoryTracker/obj/Debug/net5.0/InventoryTracker.csproj.FileListAbsolute.txt
InventoryTracker/obj/Debug/net5.0/InventoryTracker.csproj.CoreCompileInputs.cache
InventoryTracker/obj/Debug/net5.0/InventoryTracker.csproj.AssemblyReference.cache
