@model InventoryTracker.Models.ProductModel

<div>
    <h3>Error</h3>
    <hr />
    <h4>The product you were looking for was not found</h4>
</div>
<div>
    <a asp-action="Search">Back to Search</a>
</div>
