@model InventoryTracker.Models.ProductModel

<div>
    <h4>Error</h4>
    <hr />
    <h3>The product you were looking for was not found</h3>
</div>
<div>
    <a asp-action="Index">Back to Inventory</a>
</div>
