@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p> Inventory Tracker </p>
</div>


<label> Message:</label> @ViewBag.Test

<p>@ViewBag.Description</p>


